<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <h1>All Tags</h1>

    <ul id="tags">
      <% @tags.each do |tag| %>
        <li>
          <h3><%= link_to tag.name, tag_path(tag) %></h3>
          <% if logged_in? %>
            <%= link_to "Delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"}%></p>
          <% end %>
        </li>
      <% end %>
    </ul>

  </body>
</html>
